:root {
    --BCM:   #1c3079;
    --secondary: #dfdfdf;
    --sidebar:  #1c30796b;
  }
  
body {
margin: 0;
padding: 0;
font-family: Arial, sans-serif;
}

nav {
background-color: var(--BCM);
color: var(--secondary);
padding: 10px;
}

nav a {
color: var(--secondary);
text-decoration: none;
margin-right: 10px;
}

nav a:hover {
  text-shadow: 1px 1px 2px var(--BCM);
}

section {
padding: 20px;
}

header {
background-color: var(--BCM);
color: var(--secondary);
text-align: center;
padding: 20px;
}

p {
line-height: 1.6;
}

ul {
list-style-type: disc;
padding-left: 20px;
}

footer {
background-color: var(--BCM);
color: var(--secondary);
text-align: center;
padding: 10px;
}

main {
  padding: 20px;
  margin-left: 270px; /* To create a gap between the sidebar and main content */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: auto;
}

/* Style the sidebar */
.grid-sidebar {
  grid-column: 1; /* The item starts at column 1 and spans 2 columns */
  background-color: var(--secondary);
}

.grid-main {
  grid-column: 2 / span 8; /* The item starts at column 1 and spans 8 columns */
  grid-row: 1; /* The item is in row 1 */
  background-color: var(--secondary);
}
